
Pratica-III/.vs/Pratica-III/v15/.suo
*.ide-shm
Pratica-III/.vs/Pratica-III/v15/.suo
Pratica-III/.vs/Pratica-III/v15/Server/sqlite3/storage.ide-shm
Pratica-III/Pratica-III/bin/Pratica-III.dll
Pratica-III/Pratica-III/bin/Pratica-III.pdb
Pratica-III/Pratica-III/obj/Debug/Pratica-III.csproj.CoreCompileInputs.cache
Pratica-III/Pratica-III/obj/Debug/Pratica-III.dll
Pratica-III/Pratica-III/obj/Debug/Pratica-III.pdb
Pratica-III/Pratica-III/obj/Debug/Pratica-III.pdb
Pratica-III/.vs/Pratica-III/v15/.suo
Pratica-III/.vs/Pratica-III/v15/Server/sqlite3/storage.ide
Pratica-III/.vs/Pratica-III/v15/Server/sqlite3/storage.ide-shm
Pratica-III/.vs/Pratica-III/v15/Server/sqlite3/storage.ide-wal
Pratica-III/Pratica-III/bin/Pratica-III.dll
Pratica-III/Pratica-III/bin/Pratica-III.pdb
Pratica-III/Pratica-III/obj/Debug/Pratica-III.csproj.CoreCompileInputs.cache
Pratica-III/Pratica-III/obj/Debug/Pratica-III.dll
Pratica-III/.vs/config/applicationhost.config
Pratica-III/.vs/config/applicationhost.config
Pratica-III/.vs/Pratica-III/v15/.suo
Pratica-III/.vs/Pratica-III/v15/Server/sqlite3/storage.ide
Pratica-III/Pratica-III/bin/Pratica-III.dll
Pratica-III/Pratica-III/bin/Pratica-III.pdb
Pratica-III/Pratica-III/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Pratica-III/Pratica-III/obj/Debug/Pratica-III.csproj.CoreCompileInputs.cache
*.cache
Pratica-III/Pratica-III/obj/Debug/Pratica-III.dll
Pratica-III/Pratica-III/obj/Debug/Pratica-III.pdb
