body {
    display:flex;
    min-height:100vh;
    flex-direction:column;
}

main {
    flex: 1 0 auto;
}

.tooltipped {
    cursor : default;
}

.btn-large {
    color : white !important;
}
.waves-button-input {
    cursor: pointer;
    color : white !important;
}

.no-display {
    display: none;
}